@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
:root {
  --primary-color: #556876;
  --primary-color-dark: #283845;
  --primary-color-light: #7a93a5;
  --text-dark: #283845;
  --text-light: #d1d5db;
  --white: #fff;
  --black: #000;
  --facebook: #1877f2;
  --twitter: #1da1f2;
  --telephone: #171515;
  --linkedin: #0a66c2;
  --youtube: #ff0000;
  --max-width: 1200px;
  --highlighted-text: #47a390;
  --bg-highlight: #508db0;

  /* blog colors */
  --container-color: #1a1e21;
  --second-color: rgba(77, 228, 255);
  --text-color: #172317;
  --bg-color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.section-header {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary-color-dark);
  font-family: cursive;
}
.section-subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--primary-color);
  text-wrap: pretty;
}
.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color-light);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
.btn:hover {
  background-color: var(--primary-color-dark);
}
img {
  width: 100%;
  display: flex;
}
a {
  text-decoration: none;
}
.bg-blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px var(--primary-color-light);
  z-index: -1;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}
head .info-head {
  background-color: var(--white);
}
/* Below are css sections that are used more than once */

/* NOTE/HIGHLIGHTS CSS */
.highlight {
  width: 100%;
  background-color: var(--bg-highlight);
}
.highlight .wrapper {
  color: var(--white);
}
.highlight .highlight-text {
  padding: 50px;
  animation: typing 8s steps(auto), cursor 2s step-end infinite alternate;
}

.highlight .highlight-text p {
  text-align: center;
  font-weight: 400;
  color: var(--white);
}

#note-highlight {
  background: #feffce;
}
#note-highlight .highlight-text p {
  color: var(--primary-color);
  font-weight: 700;
}
/* typewriter css */
.wrapper {
  padding: 50px;
  text-align: center;
  font-family: monospace;
  font-size: 2rem;
}

/* navigation css */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection {
  background: rgb(0, 123, 255, 0.3);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
  background: var(--primary-color);
}
.navbar.sticky {
  padding: 10px 0;
  background: var(--primary-color-dark);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: var(--text-light);
  font-size: 15px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  background: var(--primary-color-light);
  color: var(--white);
  padding: 0px 10px;
  border-radius: 10%;
}
.menu-list li a.active {
  background: var(--primary-color-light);
  color: var(--white);
  padding: 0px 10px;
  border-radius: 10%;
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn {
  top: 10px;
}
@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    height: 80px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn {
    display: none;
  }
  .icon.cancel-btn.show {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    background: var(--primary-color-light);
    display: block;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list {
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active {
    clip-path: circle(75%);
  }
  .navbar .menu-list li {
    margin-top: 35px;
  }
  .navbar .menu-list li a {
    font-size: 18px;
  }
}

/* side navigation social icons */
ul.social {
  z-index: 999;
  list-style: none;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
ul li {
  margin: 10px 0;
}
ul li a {
  text-decoration: none;
  color: var(--white);
  height: 60px;
  line-height: 60px;
  display: flex;
}
ul li a span:nth-child(2) {
  background: var(--facebook);
  width: 60px;
  height: 100%;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 24px;
}
ul li a span:nth-child(1) {
  width: 0;
  height: 100%;
  background: var(--facebook);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0;
  letter-spacing: 2px;
  overflow: hidden;
  margin-right: 5px;
  border-radius: 0 50px 50px 0;
  transition: 0.3s ease;
}
ul .telephone #number {
  font-size: 12px;
}
ul li a:hover span:nth-child(1) {
  width: 180px;
  padding-left: 20px;
}

ul li:nth-child(2) a span:nth-child(1),
ul li:nth-child(2) a span:nth-child(2) {
  background: var(--twitter);
}
ul li:nth-child(3) a span:nth-child(1),
ul li:nth-child(3) a span:nth-child(2) {
  background: var(--telephone);
}
ul li:nth-child(4) a span:nth-child(1),
ul li:nth-child(4) a span:nth-child(2) {
  background: var(--linkedin);
}
ul li:nth-child(5) a span:nth-child(1),
ul li:nth-child(5) a span:nth-child(2) {
  background: var(--youtube);
}

/* new header */
head .owl-carousel {
  width: 100%;
  height: 100vh;
}
.slide {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.slide-1 {
  background-image: url(../images/123gallery/gallery-3.jpg);
}
.slide-2 {
  background-image: url(../images/123gallery/gallery-1.jpg);
}
.slide-3 {
  background-image: url(../images/123gallery/gallery-2.jpg);
}
.slide-content {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 20%;
}

.slide-content h1 {
  font-family: "Anton", serif;
  font-size: 60px;
  text-transform: uppercase;
}

.slide-content p {
  font-family: "Lato", serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.slide-content button {
  font-family: "Roboto", serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1%;
}

.owl-dots span {
  width: 20px !important;
  height: 20px !important;
}

.owl-dots button {
  border: none !important;
  outline: none !important;
}

.owl-nav button {
  border: none !important;
  outline: none !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff !important;
  font-size: 65px !important;
  font-weight: bolder !important;
  background: none !important;
}

.owl-prev {
  left: 1%;
}

.owl-next {
  right: 1%;
}
/* header global css */
/* .header-content {
  margin-top: 150px;
}
@media (max-width: 1000px) {
  .header-content {
    margin-top: 100px;
  }
}
.header-blur {
  bottom: 5rem;
  right: 0;
}
.header-content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark);
}
.header-content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--primary-color-dark);
}
.header-content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--primary-color);
}
.header-content h2 {
  color: var(--primary-color-dark);
}
.header-content p {
  margin-bottom: 2rem;
  color: var(--text-dark);
}

.header-image {
  top: 6rem;
  outline: 4px solid var(--primary-color-dark);
  position: relative;
}

.header-image::before {
  content: "123";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40rem;
  font-weight: 400;
  line-height: 20rem;
  color: var(--primary-color);
  opacity: 0.1;
  z-index: -1;
}

.header-image img {
  max-width: 650px;
  margin: auto;
} */

/* partners css */
/* for the meantime css partners */
/* .partners {
  position: relative;
  display: flex;
  background: var(--bg-color);
  gap: 1rem;
  margin-top: 100px;
} */
.partners {
  margin-top: 100px;
}
.section-padding {
  padding: 0;
}
.brand-carousel {
  background: var(--primary-color-light);
}
.brand-carousel .single-logo img {
  max-width: 250px;
}
.partners .owl-dots {
  position: absolute;
  visibility: hidden;
}

/* Testimonial slider */
/* testimonial slider owl carousel */
.testimonials-section .testimonials-container {
  position: relative;
}
.testimonials-container .testimonial-card {
  padding: 20px;
}
.testimonial-card .test-card-body {
  background-color: var(--card-clr);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
}
.test-card-body .quote {
  display: flex;
  align-items: center;
}
.test-card-body .quote i {
  font-size: 45px;
  color: var(--text-dark);
  margin-right: 20px;
}
.test-card-body .quote h2 {
  color: var(--text-dark);
}
.test-card-body p {
  margin: 10px 0px 15px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-dark);
}
.test-card-body .ratings {
  margin-top: 20px;
}
.test-card-body .ratings i {
  font-size: 17px;
  color: yellow;
  cursor: pointer;
}
.testimonial-card .profile {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.profile .profile-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.profile .profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile .profile-desc {
  display: flex;
  flex-direction: column;
}
.profile-desc span:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-dark);
}
.profile-desc span:nth-child(2) {
  font-size: 15px;
  color: var(--white);
  visibility: hidden;
}
.owl-nav {
  position: absolute;
  right: 20px;
  bottom: -10px;
}
.owl-nav button {
  border-radius: 50% !important;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  padding: 10px !important;
  border-radius: 50%;
  font-size: 18px !important;
  background-color: var(--text-light) !important;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover {
  background-color: var(--primary-color-dark) !important;
  color: #e9e9e9;
}
.owl-dots {
  margin-top: 15px;
}
.owl-dots .owl-dot span {
  background-color: var(--primary-color-dark) !important;
  padding: 6px !important;
}
.owl-dot.active span {
  background-color: var(--text-light) !important;
}

/* footer bar css */
.footer-bar {
  display: flex;
  width: 100%;
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--white);
  gap: 1rem;
  background: var(--primary-color-dark);
}
.footer-bar a {
  color: var(--bg-highlight);
  transition: 0.5s;
}
.footer-bar a:hover {
  transform: scale(1.25);
}

/* index header css - index.html starts here*/
.index-header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.index-header::before {
  content: "";
  position: absolute;
  bottom: 5rem;
  right: 20rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--primary-color);
  opacity: 0.05;
  z-index: -1;
}
/* index header responsiveness 900px */
@media (width < 900px) {
  .index-header {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* landing page section css */
.landing-container {
  text-align: center;
  align-items: center;
}

.landing-footer p {
  margin-bottom: 20px;
  color: var(--text-dark);
}
.landing-grid {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--text-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.landing-grid .grid-content img {
  width: 600px;
}
.landing-grid .grid-content p {
  line-height: 3rem;
  font-size: 20px;
  text-align: left;
  align-items: center;
  text-wrap: nowrap;
}
/* landing grid responsiveness under 900px */
@media (width < 900px) {
  .landing-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*box css*/
.box-container .bottom-text {
  color: var(--text-dark);
  text-align: center;
  margin-top: 3rem;
}
.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.box-card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var();
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
  border-color: var(--primary-color-dark);
}

.box-card-content {
  flex: 1;
  margin-bottom: 2rem;
}

.box-card h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.box-card p {
  margin-bottom: 0.75rem;
  color: var(--text-dark);
}

.box-card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--text-dark);
}
/* box grid responsiveness under 900px */
@media (width < 900px) {
  .box-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* services css */
.services-container {
  margin-bottom: 100px;
}

.services-grid {
  position: relative;
  width: calc(100% - 4rem);
  padding: 1rem;
  margin: 5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color-light);
  border-radius: 10px;
  z-index: 1;
}

.services-card {
  flex: 1 1 250px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.services-card span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
}

.services-card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.services-card p {
  color: var(--text-light);
}

/* services gallery grid */
.grid-gallery {
  width: 100%;
  max-width: 1200px;
  margin: -180px auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}
.grid-gallery .grid-item {
  position: relative;
  background-color: #efefef;
  overflow: hidden;
}
.grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.grid-gallery .grid-item:hover img {
  transform: scale(1.1);
}
.grid-gallery .grid-item a {
  cursor: zoom-in;
}
.grid-gallery .grid-item:nth-child(3n - 2) {
  grid-column: span 2;
  grid-row: span 2;
}

/* Explore css */

/* flip css */
/* flip title header */
.explore-container .section-header {
  font-size: 20px;
  text-align: left;
}
.explore-container .section-subheader {
  margin: 0;
  font-size: 18px;
  text-align: left;
  max-width: 100%;
}
.maincontainer {
  margin-top: 2rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  max-height: 900px;
  height: 220px;
  background: none;
  gap: 2rem;
}
@media (max-width: 900px) {
  .maincontainer {
    height: 800px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 500px) {
  .maincontainer {
    height: 800px;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  cursor: pointer;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover {
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: var(--primary-color-dark);
  color: #000;
  text-align: center;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1 {
  font-family: "zilla slab", sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: var(--text-light);
}
.theback h1 {
  font-family: "zilla slab", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 2rem 2rem 0;
}
.thefront span i {
  margin-top: 2rem;
  color: var(--text-light);
  font-size: 5rem;
}

.thefront p,
.theback p {
  font-family: "zilla slab", sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}
/* .thefront i {
  margin: -150px;
  display: inline-block;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 3.75rem;
  color: var(--white);
  background-color: var(--secondary-color-dark);
  border-radius: 5px;
} */
/* pricing.html css starts here */
.price-header {
  position: relative;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
@media (width < 900px) {
  .price-header {
    grid-template-columns: repeat(1, 1fr);
  }
  .price-header h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.price-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (width < 900px) {
  .price-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.price-card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.price-card:hover {
  background-color: var(--primary-color-dark);
  border-color: var(--secondary-color);
}

.price-card-content {
  flex: 1;
  margin-bottom: 2rem;
}

.price-card h4 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--white);
}

.price-card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.price-card p {
  margin-bottom: 0.75rem;
  color: var(--white);
  text-wrap: nowrap;
}

.price-card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}
.price-card .price-text p {
  text-align: center;
  font-size: 20px;
}
.price-card .price-text #sale {
  color: red;
  text-decoration: line-through;
  font-size: 30px;
  font-family: fantasy;
}
.price-card .price-text #current {
  font-size: 40px;
  font-family: cursive;
}

#platinum:hover {
  color: var(--white);
  background-color: #e5e4e2;
}
#gold:hover {
  color: var(--white);
  background-color: #ffd700;
}
#silver:hover {
  color: var(--white);
  background-color: #e5e4e2;
}
/* Getting started css under pricing box */
#getting-started {
  font-size: 60px;
  font-family: "Playball";
}
.getting-started-content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  color: var(--text-dark);
  font-size: 20px;
}
@media (width < 900px) {
  .getting-started-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.getting-started-content span {
  color: var(--text-dark);
  font-weight: 900;
}
.getting-started-content .left ul {
  list-style: none;
}
.getting-started-content .left ul li i {
  color: var(--text-dark);
}
.getting-started-content .right img {
  margin-bottom: 5px;
  padding: 5px;
  background: var(--bg-highlight);
}

/* testimonial.html css starts here */

/* top clients */

.top-clients .clients {
  text-align: center;
  display: flex;
  gap: 2rem;
}
@media (width < 900px) {
  .top-clients .clients {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.top-clients .clients .top-profile img {
  height: 200px;
  width: 100%;
  border-radius: 50%;
  outline: auto;
  outline-color: var(--text-light);
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (width < 900px) {
  .top-clients .clients .top-profile img {
    border-radius: 20px;
  }
}
.top-clients .clients .top-profile span {
  color: var(--text-light);
  font-size: 20px;
  font-weight: 600;
}
.top-clients .clients .top-profile span:hover {
  color: var(--primary-color-dark);
  transition: 0.3s;
}
.top-clients-header {
  margin-top: 5rem;
}

/* testimonials grid modal */
.testimonials {
  padding: 10%;
}
.testimonials .container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials-modal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-bottom: 40px;
}
@media (width < 900px) {
  .testimonials-modal {
    grid-template-columns: repeat(1, 1fr);
  }
}
.testimonials .btn img {
  width: 100%;
  height: 30vh;
}
.testimonials .box .btn p {
  color: var(--primary-color);
  font-style: italic;
  text-align: center;
}
.testimonials .body .video {
  text-align: center;
}
.testimonials .body p {
  text-align: justify;
  padding: 5% 10%;
}
.testimonials .body a {
  color: #23252b;
  text-decoration: none;
  transition: none;
}
.testimonials .body a:hover {
  color: #0095e8;
}
.testimonials .body .img img {
  width: 50%;
  display: block;
  margin: 0 auto 0 auto;
}
.testimonials-modal .box {
  width: 100%;
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
  transition: 0.5s;
  margin: 0 auto 0 auto;
}
.testimonials-modal .box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.testimonials-modal .box h3 {
  font-size: 18px;
  margin: 15px 10px;
  text-align: center;
}
.testimonials-modal .btn {
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  text-align: left;
}
.testimonials-modal .btn h3 {
  color: #23252b;
}
.testimonials-modal .btn:active {
  transform: scale(0.9);
}
.testimonials-modal .close-modal {
  background: none;
  border: none;
  font-size: 1.5rem;
  visibility: hidden;
}
.testimonials-modal .modal {
  height: 700px;
  width: 80%;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.8s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
  visibility: hidden;
  margin-top: 15%;
  margin-bottom: 15%;
  overflow: scroll;
}
@media (width < 900px) {
  .testimonials-modal .modal {
    margin-top: 100px;
    width: 100%;
  }
}
.testimonials-modal .modal.active {
  top: 30%;
  visibility: visible;
}
.testimonials-modal .modal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
}
.testimonials-modal .modal .header .title {
  min-width: 100%;
  padding: 10px;
}
.testimonials-modal .modal .body {
  padding: 0.75rem;
}
.testimonials-modal #overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.testimonials-modal #overlay.active {
  display: block;
}
.testimonials-modal .modal-content {
  padding-bottom: 40px;
}

/* faq.html css starts here */
/* accordion css */
.faq-header {
  position: relative;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
@media (width < 900px) {
  .faq-header {
    grid-template-columns: repeat(1, 1fr);
  }
  .faq-header::before {
    display: none;
  }
}

.faq-header::before {
  content: "";
  position: absolute;
  bottom: 5rem;
  right: 20rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--white);
  opacity: 0.05;
  z-index: -1;
}
.accordion-faq {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-dark);
}
.accordion-faq .title {
  font-family: cursive;
  font-size: 3rem;
  margin: 2rem 0rem;
}
.accordion-faq .faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--text-light);
  cursor: pointer;
}
.accordion-faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-faq .question h3 {
  font-size: 1.5rem;
}
.accordion-faq .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.accordion-faq .answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}
.accordion-faq .faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}
.accordion-faq .faq.active i {
  transform: rotate(180deg);
}
.accordion-faq i {
  transition: transform 0.5s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* blog.html css starts here */

.about-blog {
  position: relative;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.about-blog .contentBx {
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding-right: 40px;
}
.titleText {
  font-weight: 600;
  font-size: 2rem;
}
.title-text {
  font-size: 1em;
}
.about-blog .imgBx {
  position: relative;
  min-width: 50%;
  width: 50%;
  min-height: 500px;
}
.post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 8rem !important;
}
.post-filter .filter-item:hover {
  color: var(--text-light);
  border-radius: 4px;
  padding: 4px 10px;
  background: var(--primary-color-dark);
}
.filter-item {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.active-filter {
  background: var(--primary-color-dark);
  color: var(--text-light);
  padding: 4px 10px;
  border-radius: 4px;
}

.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  justify-content: center;
  gap: 1.5rem;
}
.post-box {
  background: var(--primary-color);
  box-shadow: 0 4px 14px hsl(35deg 25% 15% / 40%);
  padding: 15px;
  border-radius: 0.5rem;
}
.post-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.category {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text);
}
.post-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-light);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-date {
  display: flex;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: 4px;
  font-weight: 400;
}
.post-description {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--primary-color-dark);
}
.profile-name {
  font-size: 0.8rem;
  font-weight: 500;
}

/* resource.html css starts here */
/* resources css */
.resources-container {
  position: relative;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
@media (width < 900px) {
  .resources-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.resources .container {
  width: 100%;
}
.resources .grid-rows {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
}
.resources .grid-rows .box {
  display: flex;
  gap: 1rem;
}
.resources .content-title {
  margin-bottom: 2rem;
  color: var(--text-dark);
}
.resources .content-title h2 {
  text-align: left;
  font-family: cursive;
  font-size: 30px;
}
.resources .content-title p {
  font-style: italic;
}
.resources .box p {
  color: var(--text-dark);
  font-style: italic;
  text-align: left;
}
.resources .body .video {
  text-align: center;
}
.resources .body p {
  text-align: justify;
  padding: 5% 10%;
}
.resources .body a {
  color: #23252b;
  text-decoration: none;
  transition: none;
}
.resources .body a:hover {
  color: #0095e8;
}
.resources .body .img img {
  width: 50%;
  display: block;
  margin: 0 auto 0 auto;
}

/* order-articles.html css starts here */
.order-articles-container {
  position: relative;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
@media (width < 900px) {
  .order-articles-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.order-articles .section-content {
  color: var(--text-dark);
}
.order-articles .section-content .title {
  font-size: 30px;
  font-family: cursive;
}
.order-articles .section-content p {
  font-size: 25px;
}
.order-articles .section-content span {
  font-size: larger;
  font-weight: 700;
  color: var(--text-dark);
}
.order-articles .section-content .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10%;
  gap: 2rem;
  cursor: pointer;
}
@media (width < 900px) {
  .order-articles .section-content .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ORDER ARTICLES BOOK */
.book-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.book {
  position: relative;
  width: 190px;
  height: 270px;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.book-icon img {
  width: 120px;
  height: 40px;
  margin: 5px auto 0 auto;
}
.writer img {
  width: 60px;
  height: 50px;
  margin: 10px auto 0 auto;
}
.book-title {
  color: rgb(202, 202, 183);
  font-size: 13px;
  font-weight: bolder;
  padding-top: 20px;
}
.book-container .heading {
  color: white;
  font-size: 15px;
}
.book-sub-title {
  color: rgba(226, 201, 201, 0.8);
  font-size: 14px;
}
.writer p {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(255, 255, 255, 0.9);
}
.writer i {
  color: rgb(241, 232, 232, 0.8);
}
.copyright {
  float: left;
  padding-top: 5px;
  margin-left: 28%;
  color: rgb(202, 194, 194, 0.6);
  font-size: small;
}
.front li {
  background: white;
  border-radius: 10px;
}
.back li {
  background: linear-gradient(
    to bottom,
    #0c6cfd,
    #3f5ce3,
    #4f4dc9,
    #573eb0,
    #582f98
  );
  border-radius: 10px;
  width: 97.5% !important;
}
.page > li {
  background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
  background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);

  /* box shadow */
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1),
    inset -1px 0px 1px rgba(150, 150, 150, 0.2);

  border-radius: 0px 5px 5px 0px;
  width: 100%;
  height: 100%;
  transform-origin: left center;
}
.front {
  transform: rotateY(-34deg) translateZ(8px);
}
.back {
  transform: rotateY(-15deg) translateZ(-8px);
}
.page li:nth-child(1) {
  transform: rotateY(-28deg);
}
.page li:nth-child(2) {
  transform: rotateY(-30deg);
}
.page li:nth-child(3) {
  transform: rotateY(-32deg);
}
.page li:nth-child(4) {
  transform: rotateY(-34deg);
}
.page li:nth-child(5) {
  transform: rotateY(-36deg);
}
.front,
.back,
.front li,
.back li {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.front,
.back {
  transform-origin: 0% 100%;
}
.front {
  transition: all 0.8s ease, z-index 0.6s;
}
.front li:last-child {
  transform: rotateY(180deg) translateZ(2px);
}
.page,
.page > li {
  position: absolute;
}
.page {
  width: 100%;
  height: 98%;
  top: 1%;
  left: 3%;
}
.page li {
  transition-duration: 0.6s;
}
.book:hover .front {
  transform: rotateY(-145deg) translateZ(0);
}
.book:hover > .page li:nth-child(1) {
  transform: rotateY(-30deg);
  transition: 1.5s;
}
.book:hover > .page li:nth-child(2) {
  transform: rotateY(-35deg);
  transition: 1.8s;
}
.book:hover > .page li:nth-child(3) {
  transform: rotateY(-118deg);
  transition: 1.6s;
}
.book:hover > .page li:nth-child(4) {
  transform: rotateY(-130deg);
  transition: 1.4s;
}
.book:hover > .page li:nth-child(5) {
  transform: rotateY(-140deg);
  transition: 1.2s;
}
.frontcover {
  position: absolute;
  background: linear-gradient(
    to bottom,
    #0c6cfd,
    #3f5ce3,
    #4f4dc9,
    #573eb0,
    #582f98
  );
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.book-btn {
  display: inline-block;
  margin-top: 80px;
  padding: 8px 12px;
  transition: 1s;
}
.book-btn:hover {
  transform: scale(1.25);
}

/* about-us.html css starts here */
.about-container .section-header {
  margin-top: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.about-flex {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}
@media (width < 900px) {
  .about-flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about-flex .btn {
    display: block;
    margin: 0 auto 0 auto;
  }
}
.about-image img {
  border-radius: 20px;
}

.about-content p {
  margin-bottom: 1rem;
  color: var(--text-dark);
}
/* accordion about */
/* accordion css */

.accordion-about {
  width: 100%;
  display: block;
  align-items: center;
  color: var(--text-dark);
}
.accordion-about .about {
  max-width: 700px;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--text-dark);
  cursor: pointer;
}
.accordion-about .question {
  display: block;
  justify-content: space-between;
  align-items: center;
}
.accordion-about .question h2 {
  font-size: 3rem;
}
.accordion-about .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}
.accordion-about .answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
}
.accordion-about .about.active .answer {
  max-height: 850px;
  animation: fade 1s ease-in-out;
}
.accordion-about .about.active i {
  transform: rotate(180deg);
}
.accordion-about i {
  transition: transform 0.5s ease-in;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.our {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.results h2 {
  font-size: 3rem;
  color: var(--text-dark);
}
.results p {
  margin-bottom: 2rem;
  color: var(--text-dark);
}
.results .btn {
  cursor: pointer;
  margin-top: 5rem;
}
/* contact-us.html css starts here */
/* form card css */
/*contact css starts here*/
.contact-header {
  position: relative;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
@media (width < 900px) {
  .contact-header {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (width < 900px) {
  .contact-header::before {
    display: none;
  }
}
.contact-header .header-content h2 {
  font-style: italic;
}

.contactForm {
  width: 100%;
  padding: 40px;
  background: #fff;
}
.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.form-card {
  width: 100%;
  padding: 3rem 2rem;
  display: block;
  margin: 5rem auto;
  background-color: var(--primary-color-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.form-card-content {
  flex: 1;
  margin-bottom: 2rem;
  text-align: center;
}

.form-card h4 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--white);
}

.form-card h3 {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  border-bottom: 2px solid var(--white);
}

.form-card p {
  margin-bottom: 0.75rem;
  color: var(--white);
}

.form-card p i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.form-btn {
  color: var(--secondary-color);
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}

.form-btn:hover {
  color: var(--white);
  background-color: var(--secondary-color);
}

/* blog folder css */
.blog-content {
  color: var(--text-light);
  font-size: 18px;
}

/* footer for landing page */
.block {
  position: relative;
  margin: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(0deg, #283845, rgb(44, 43, 43));
}

.glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #e6fb04,
    #ff6600,
    #00ff66,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  );
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.glow::after {
  filter: blur(40px);
}

.landing-page {
  position: relative;
}
